.box-container {
    width: 500px;
    height: 500px;
    display: flex;
}

.box{
    width: 500px;
    height: 500px;
    transition: all 2s;
}

.red {
    background-color: red;
    width: 0;
}

.green {
    background-color: green;
}